/* header */
* {
}

#header {
    background-color: var(--bg__gray2);
    height: 100px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 3px solid var(--color__green);
    /* box-shadow: 0px 1px 10px #b6b5b5 */
}
.left {
    width: 20%;
    text-align: left;
    padding: 20px 0 0 0;
}
.left .logo {
    width: 40%;
}
.left .logo a {
    color: var(--color__green);
    font-family: var(--main__en);
    font-size: 30px;
    font-weight: 900;
}
.nav__inner {
    width: 70%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 10px;
}
.right {
    width: 10%;
    text-align: right;
    padding-top: 2px;


}

.right ul li a {
    color: var(--color__black);
    font-weight: 300;
    font-family: var(--main__en);
    font-size: 14px;

}
.right ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;

}
/* .right ul li:first-child a {
    font-weight: 500px;
} */
.header__inner {
    display: flex;
    justify-content: space-between;
}
.nav__inner ul {
    display: flex;
    justify-content: right;
    

}
.nav__inner > ul > li {
    display: inline-block;
    position: relative;
}
.nav__inner > ul > li > a {
    font-size: 18px;
    color: var(--color__green);
    font-family: var(--main__ko);
    font-weight: 300;
    align-items: end;
    display: block;
    padding: 10px 30px;
}
.nav__inner > ul > li > a:hover {

}
.nav__inner > ul > li .submenu {
    text-align: center;
    position: absolute;
    left: 0px;
    top: 40px;
    display: inline-block;
    width: 100%;
    height: 220px;
    display: none;
    background-color: #00000090;

}
.nav__inner > ul > li .submenu > li {
}
.nav__inner > ul > li > ul > li > a {
    display: block;
    padding: 10px;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
}
.nav__inner > ul > li > ul > li > a:hover {
    background-color: #ddd;
    color: #000;
}

/* login footer */
#footer__login {
    margin-top: 70px;
    margin-bottom: 70px;
}
#footer__login .footer__inner {
    display: block;
    font-size: 14px;
    text-align: center;
    font-family: var(--main__en);
    font-weight: 300;
    color: var(--color__black);
    text-align: center;

}

/* main footer */
#footer {
    width: 100%;
    height: 400px;
    background-color: #F6F5EF;
    padding: 120px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__inner {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__inner .f_logo{
    width: 20%;
    display: flex;
    justify-content: left;

}
.footer__inner .f_logo span a{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-weight: 900;
}
.footer__inner nav{
    width: 80%;
    display: flex;
    justify-content: right;

}
.footer__inner nav> ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.2;
}
.footer__inner nav> ul> li {

}
.footer__inner nav> ul> li> a {
    font-size: 20px;
    font-family: 'Montserrat','NEXON Lv1 Gothic OTF';
    color: #222;
    font-weight: 800;
    cursor: pointer;
}
.footer__inner nav> ul> li> ul{
    padding-top: 5px;
}
.footer__inner nav> ul> li> ul >li {
    padding: 1px 0;
}
.footer__inner nav> ul> li> ul >li> a {
    font-size: 14px;
    font-family: 'NEXON Lv1 Gothic OTF';
    color: #222;
    font-weight: 100;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-weight: 300;
    padding-top: 55px;
}