#brand {
    width: 100%;
    font-family: var(--main__ko);
}
.brand__wrap {
    
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;

}

.brand__inner {
    width: 100%;
    height: 570px;
    margin: 120px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.text__inner {
    width: 49%;   
}
.text__inner h2 {
    font-size: 40px;
    margin: 0 0 170px 0;
    text-decoration-line: underline;
    text-underline-position: under;
    font-weight: 600;
}

.text__inner h3 {
    font-size: 40px;
    margin: 0 0 60px 0;
    font-weight: 100;
    font-weight: 400;
}
.text__inner p {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 300;
}
.img__inner {
    width: 49%;
}
.img__inner img {
    vertical-align: right;
    width: 100%;
    height: 570px;
}
.text__inner a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    position: relative;
    vertical-align: bottom;
}
.text__inner a::before {
    position: absolute;
    left: 105%;
    top: 10%;
    width: 20px;
    height: 20px;
    content: '';
    background-image: url(/php2/html/assets/img/MAIN/Arrow01.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(70%);
}