#footer {
    width: 100%;
    height: 400px;
    background-color: #F6F5EF;
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__inner {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__inner .f_logo{
    width: 20%;
    display: flex;
    justify-content: left;

}
.footer__inner .f_logo span a{
    font-size: 30px;
    font-family:var(--main__en);
    color: #222;
    font-weight: 900;
}
.footer__inner nav{
    width: 80%;
    display: flex;
    justify-content: right;

}
.footer__inner nav> ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.2;
}
.footer__inner nav> ul> li {

}
.footer__inner nav> ul> li> a {
    font-size: 20px;
    font-family: var(--main__ko), var(--main__en);
    color: #222;
    font-weight: 800;
    cursor: pointer;
}
.footer__inner nav> ul> li> ul{
    padding-top: 5px;
}
.footer__inner nav> ul> li> ul >li {
    padding: 1px 0;
}
.footer__inner nav> ul> li> ul >li> a {
    font-size: 14px;
    font-family: var(--main__ko), var(--main__en);
    color: #222;
    font-weight: 100;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: var(--main__ko), var(--main__en);
    color: #222;
    font-weight: 300;
    padding-top: 55px;
}
