.searchType__wrap {
    width: 100%;
    height: 800px;
    background-image: url(/html/assets/img/MAIN/search__img01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    font-family: var(--main__ko);
}
.searchType__wrap h2 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 120px;
    margin-bottom: 65px;


}
.search__box {
    position: relative;
}
.search__box input {
    height: 70px;
    width: 30%;
    border-radius: 50px;
    border: 0px;
    margin-bottom: 20px;
}
.search__about {
    margin: 0 auto;
    width: 570px;
    transition: all 0.1s;
}
.search__about ul li:hover {
    transform: scale(110%);
}
.search__box::after {
    content: '';
    width: 31px;
    height: 31px;
    position: absolute;
    top: 23px;
    left: 37%;
    background-image: url(/html/assets/img/MAIN/search__icon01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.search__about ul {
    display: flex;
    justify-content: center;
}
.search__about ul li {
    display: inline-block;
    padding: 0 10px;
}
.search__about ul li:not(:first-child) {
    border-left: 1px solid #000;
}
.search__about ul li a {
    font-size: 15px;
    font-weight: lighter;
}