@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 200s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}
* {
  box-sizing: border-box;
}
#typo {
  display: grid;
  align-content: center;
  overflow: hidden;
  gap: var(--gap);
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2;
  color: #006241;
  border-bottom: 1px solid #006241;
}
.marquee {
  width: 100vw;
  display: flex;
  overflow: hidden;
}
.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  -webkit-animation: scroll-x var(--duration) linear infinite;
  animation: scroll-x var(--duration) linear infinite;
}
@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
}