input {
    font-size: 12px;
}
.login {
    width: 700px;
    margin: 100px 0 80px 0;
    text-align: center;
    padding: 20px 0;
}
.login__container {
    padding: 0 250px;
}
.login__inner {
    width: 300px;
    display: inline-block;
}
.login__inner .logo {
    font-weight: 900;
    font-size: 70px;
    margin-top: 40px;
    color: var(--color__green);
    font-family: "Montserrat";
}
.login__inner h2 {
    text-align: center;
    font-size: 26px;
    font-family: "NexonLv1Gothic";
    font-weight: 500;
    color: var(--color__green);
}
.inputStyle_login {
    border: 1px var(--color__green) solid !important;
    border-radius: 50px;
    height: 35px;
    background-color: #fff;
}
.btnStyle2_login {
    border: 1px var(--color__green) solid !important;
    border-radius: 50px;
    width: 50%;
    height: 35px;
    font-family: "NexonLv1Gothic";
    font-weight: 500;
    padding: 0;
}
.btnStyle2_login > a {
    color: #fff;
}
.login_more {
    display: flex;
    justify-content: space-between;
}
.login_more a {
    font-size: 12px;
    font-weight: 300;
    font-family: "NexonLv1Gothic";
}
fieldset>p {
    font-size: 16px;
    font-family: "NexonLv1Gothic";
    font-weight: 500;
    color: var(--color__black);
}
.pwdlost {
    width: 100%;
    font-family: var(--main__ko);
    margin: 100px 0 80px 0;
    border-top: 1px solid var(--color__green);
    border-bottom: 1px solid var(--color__green);
    text-align: center;
}
.pwdlost__inner {
    display: inline-block;
    /* text-align: center; */
}
.pwdlost__inner .logo {
    font-weight: 900;
    font-size: 70px;
    color: var(--color__green);
    margin-top: 40px;
    padding: 20px 0 0 0;
    font-family: "Montserrat";
    text-align: center;
}
.pwdlost__inner h2{
    text-align: center;
    font-size: 26px;
    font-family: "NexonLv1Gothic";
    font-weight: 500;
    color: var(--color__green);
    margin-bottom: 20px;
}
/* jiyeong_pwdlost */
.pwdlost__form {
    font-family: var(--main__ko);
    width: 320px;
}
.pwdlost__form form {
    margin-bottom: 60px;
}
.inputStyle__pwd {
    background-color: #fff;
    width: 300px;
    height: 35px;
    border-radius: 50px;
    padding: 0.8em 2em;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid var(--color__green);
}
.pwdlost__form .result select {
    border: 1px solid var(--color__green);
    width: 300px;
    height: 35px;
    border-radius: 50px;
    font-size: 12px;
    position: relative;
    margin-bottom: 10px;
}
.pwdlost__form .result select option {
    text-align: center;
}
.inputStyle__pwd__qustion {
    background-color: #fff;
    width: 300px;
    height: 35px;
    border-radius: 50px;
    padding-left: 25px;

    border: 0;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid var(--color__green);
}
.btnStyle_pwd {
    width: 50%;
    height: 35px;
    font-size: 18px;
    background-color: var(--color__green);
    color: var(--color__white);
    border-radius: 50px;
    padding: 0;
    cursor: pointer;
    margin: 20px 0;
    vertical-align: middle;
}
.btnStyle_pwd a {
    color: var(--color__white);
}

@media(max-width:700px) {
    .login {
    text-align: left;
    }
    .login__container {
        padding: 0 100px;
        
    }
}